{% extends 'quotes_app/base.html' %}


{% block content %}

<div class="container mt-3">
    <h2 class="text-center mb-5">Login Form</h2>

    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </span>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="{% url 'user_app:login' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.username }}
            <label for="fullname">Username:</label>
            <span>{{ form.errors.username }}</span>
        </div>
    
        <div class="form-floating mb-3">
            {{ form.password }}
            <label for="password">Password:</label>
            <span class="text-danger">{{ form.errors.password1 }}</span>
        </div>
    
        <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
            <button type="submit" class="btn btn-outline-success me-md-2" style="flex: 2;">Submit</button>
            <button type="reset" class="btn btn-secondary" style="flex: 0.5;">Reset</button>
        </div>
        <div class="text-center text-muted mt-3 mb-0">
            <a href="{% url 'user_app:password_reset' %}">
                <i>Forgot Password?</i>
            </a>
        </div>
    </form>
</div>


{% endblock %}
