{% extends 'quotes_app/base.html' %}


{% block content %}

<div class="container mt-3">
    <h2 class="text-center mb-5">Author Add</h2>

    {% if messages %}
    <div class="message">
        {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </span>
        {% endfor %}
    </div>
    {% endif %}

    {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    <form action="{% url 'quotes_app:author-add' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{ form.fullname }}
            <label for="fullname">Author Fullname:</label>
            <span>{{ form.errors.fullname }}</span>
        </div>
    
        <div class="form-floating mb-3">
            {{ form.born_date }}
            <label for="born_date">Born Date (YYYY-MM-DD):</label>
            <span class="text-danger">{{ form.errors.born_date }}</span>
        </div>

        <div class="form-floating mb-3">
            {{ form.born_location }}
            <label for="born_location">Born Location:</label>
            <span class="text-danger">{{ form.errors.born_location }}</span>
        </div>
       
        <div class="form-floating mb-3">
            {{ form.description }}
            <label for="description">Description:</label>
            <span class="text-danger">{{ form.errors.description }}</span>
        </div>
    
        <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
            <button type="submit" class="btn btn-outline-success me-md-2" style="flex: 2;">Submit</button>
            <button type="reset" class="btn btn-secondary" style="flex: 0.5;">Reset</button>
        </div>
        
    </form>
    
    
</div>

<div>
    <div class="container mt-3">
        <h2 class="text-center mb-5">Tag Add</h2>
        
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <span {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                {{ message }}
            </span>
            {% endfor %}
        </div>
        {% endif %}
        
        {% if form1.errors and form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form1.non_field_errors }}
        </div>
        {% endif %}
        
        <form action="{% url 'quotes_app:tag-add' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form1.name }}
                <label for="name">Name:</label>
                <span>{{ form1.errors.name }}</span>
            </div>
            
            <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                <button type="submit" class="btn btn-outline-success me-md-2" style="flex: 2;">Submit</button>
                <button type="reset" class="btn btn-secondary" style="flex: 0.5;">Reset</button>
            </div>
        </form>
        <div class="text-center text-muted mt-5 mb-0">Do you want to add quotes for the author?
            <a href="{% url 'quotes_app:quote-add' %}">
                <u>Quote Add</u>
            </a>
        </div>
    </div>
</div>


{% endblock %}